In [1]:
import sklearn
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [2]:
#set date as index
data=pd.read_csv("aapl.csv",parse_dates=["Date"])

In [3]:
data

          Date    Open    High     Low   Close    Volume
0   2017-07-07  142.90  144.75  142.90  144.18  19201712
1   2017-07-06  143.02  143.50  142.41  142.73  24128782
2   2017-07-05  143.69  144.79  142.72  144.09  21569557
3   2017-07-03  144.88  145.30  143.10  143.50  14277848
4   2017-06-30  144.45  144.96  143.78  144.02  23024107
..         ...     ...     ...     ...     ...       ...
246 2016-07-15   98.92   99.30   98.50   98.78  30136990
247 2016-07-14   97.39   98.99   97.32   98.79  38918997
248 2016-07-13   97.41   97.67   96.84   96.87  25892171
249 2016-07-12   97.17   97.70   97.12   97.42  24167463
250 2016-07-11   96.75   97.65   96.73   96.98  23794945

[251 rows x 6 columns]

In [4]:
data.set_index("Date",inplace=True)
data

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-06-30  144.45  144.96  143.78  144.02  23024107
...            ...     ...     ...     ...       ...
2016-07-15   98.92   99.30   98.50   98.78  30136990
2016-07-14   97.39   98.99   97.32   98.79  38918997
2016-07-13   97.41   97.67   96.84   96.87  25892171
2016-07-12   97.17   97.70   97.12   97.42  24167463
2016-07-11   96.75   97.65   96.73   96.98  23794945

[251 rows x 5 columns]

In [5]:
data.loc["2017/07"]

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848

In [6]:
data.loc["2016/07/13"]

             Open   High    Low  Close    Volume
Date
2016-07-13  97.41  97.67  96.84  96.87  25892171

In [7]:
data.loc["2017/07"]["Open"]

Date
2017-07-07    142.90
2017-07-06    143.02
2017-07-05    143.69
2017-07-03    144.88
Name: Open, dtype: float64

In [8]:
data.loc["2017/07"]["Open"].mean()

143.6225

In [9]:
#standard deviation
data.loc["2017/07"]["Open"].std()

0.907537877997381

In [10]:
#CONVERT DATE AND TIME TO TIMESTAMP FORMAT(STANDARD FORMAT)
date="Jan/2019/03"
pd.to_datetime(date)

Timestamp('2019-01-03 00:00:00')

In [11]:
date="03-2009-March 10:25"
pd.to_datetime(date)

Timestamp('2009-03-03 10:25:00')

In [12]:
date="03-2009-March 10:25 pm"
pd.to_datetime(date)

Timestamp('2009-03-03 22:25:00')

In [13]:
date="03-2009-March 10:25:15 am"
pd.to_datetime(date)

Timestamp('2009-03-03 10:25:15')

In [14]:
date="18/12/17"
pd.to_datetime(date,yearfirst=True)

Timestamp('2018-12-17 00:00:00')

In [15]:
pd.to_datetime(date,dayfirst=True)

Timestamp('2017-12-18 00:00:00')

In [16]:
data.isnull().any(axis=0)

Open      False
High      False
Low       False
Close     False
Volume    False
dtype: bool

In [17]:
x=data.drop(["Volume"],axis=1)
y=data["Volume"]

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
model=LinearRegression()

In [20]:
model.fit(x,y)

LinearRegression()

In [21]:
model.score(x,y)

0.4369503607315195

In [22]:
model.predict([[142.90,144.75,142.90,144.18]])

C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([31356343.81930792])