In [12]:
import sklearn
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB,BernoulliNB,MultinomialNB
data=pd.read_csv("titanic.csv",usecols=[2,3,4,11])
data

     Pclass     Sex   Age  Survived
0         3    male  22.0         0
1         1  female  38.0         1
2         3  female  26.0         1
3         1  female  35.0         1
4         3    male  35.0         0
..      ...     ...   ...       ...
886       2    male  27.0         0
887       1  female  19.0         1
888       3  female   NaN         0
889       1    male  26.0         1
890       3    male  32.0         0

[891 rows x 4 columns]

In [13]:
data.isnull().any(axis=0)

Pclass      False
Sex         False
Age          True
Survived    False
dtype: bool

In [14]:
data=data.interpolate()

In [15]:
data.isnull().any(axis=0)

Pclass      False
Sex         False
Age         False
Survived    False
dtype: bool

In [16]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
Sex=label.fit_transform(data["Sex"])
data["Sex"]=Sex
data

     Pclass  Sex   Age  Survived
0         3    1  22.0         0
1         1    0  38.0         1
2         3    0  26.0         1
3         1    0  35.0         1
4         3    1  35.0         0
..      ...  ...   ...       ...
886       2    1  27.0         0
887       1    0  19.0         1
888       3    0  22.5         0
889       1    1  26.0         1
890       3    1  32.0         0

[891 rows x 4 columns]

In [17]:
models={'gaussian':GaussianNB(),'bernoulli':BernoulliNB(),'multinomial':MultinomialNB()}

In [18]:
x=data.drop(["Survived"],axis=1)
y=data["Survived"]

In [19]:
from sklearn.model_selection import cross_val_score
for i in models:
    model=models[i]
    scores=cross_val_score(model,x,y,cv=5)
    print(i,scores.mean())

gaussian 0.7845081915761722
bernoulli 0.7867365513778168
multinomial 0.6992467516163454

In [21]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=.75,random_state=1)
model=BernoulliNB()
model.fit(xtrain,ytrain)
model.score(xtest,ytest)

0.7847533632286996