In [1]:
import sklearn
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv("titanic.csv",usecols=[2,3,4,11])

In [7]:
data

     Pclass     Sex   Age  Survived
0         3    male  22.0         0
1         1  female  38.0         1
2         3  female  26.0         1
3         1  female  35.0         1
4         3    male  35.0         0
..      ...     ...   ...       ...
886       2    male  27.0         0
887       1  female  19.0         1
888       3  female   NaN         0
889       1    male  26.0         1
890       3    male  32.0         0

[891 rows x 4 columns]

In [8]:
data.isnull().any(axis=0)

Pclass      False
Sex         False
Age          True
Survived    False
dtype: bool

In [9]:
data=data.interpolate()

In [10]:
data

     Pclass     Sex   Age  Survived
0         3    male  22.0         0
1         1  female  38.0         1
2         3  female  26.0         1
3         1  female  35.0         1
4         3    male  35.0         0
..      ...     ...   ...       ...
886       2    male  27.0         0
887       1  female  19.0         1
888       3  female  22.5         0
889       1    male  26.0         1
890       3    male  32.0         0

[891 rows x 4 columns]

In [11]:
data.isnull().any(axis=0)

Pclass      False
Sex         False
Age         False
Survived    False
dtype: bool

In [12]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

In [13]:
Sex=label.fit_transform(data["Sex"])

In [16]:
data["Sex"]=Sex

In [17]:
data

     Pclass  Sex   Age  Survived
0         3    1  22.0         0
1         1    0  38.0         1
2         3    0  26.0         1
3         1    0  35.0         1
4         3    1  35.0         0
..      ...  ...   ...       ...
886       2    1  27.0         0
887       1    0  19.0         1
888       3    0  22.5         0
889       1    1  26.0         1
890       3    1  32.0         0

[891 rows x 4 columns]

In [19]:
x=data.drop(["Survived"],axis=1)
y=data["Survived"]

In [20]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=.8,random_state=1)

In [21]:
#random forest classifier
from sklearn.ensemble import RandomForestClassifier

In [28]:
model=RandomForestClassifier(n_estimators=100)

In [29]:
model.fit(xtrain,ytrain)

RandomForestClassifier()

In [30]:
model.score(xtest,ytest)

0.770949720670391