In [61]:
import sklearn
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [62]:
data=pd.read_csv("weather_replace.csv",na_values=-99999)

In [63]:
data

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [64]:
data.isnull().any(axis=0)

day            False
temperature     True
windspeed       True
event          False
dtype: bool

In [65]:
#data.fillna(67)
#data.fillna(method="bfill")
#data.fillna(method="ffill")

In [66]:
x=data["temperature"].mean()

In [67]:
y=data["windspeed"].mean()

In [68]:
data["temperature"].fillna(x,inplace=True)
data["windspeed"].fillna(y,inplace=True)

In [69]:
data

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017         31.4        7.0  Sunny
2  1/3/2017         28.0        5.4   Snow
3  1/4/2017         31.4        7.0      0
4  1/5/2017         32.0        5.4   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [70]:
d1=pd.get_dummies(data["event"])

In [71]:
d1

   0  Rain  Snow  Sunny
0  0     1     0      0
1  0     0     0      1
2  0     0     1      0
3  1     0     0      0
4  0     1     0      0
5  0     0     0      1
6  1     0     0      0

In [72]:
data1=pd.concat([data,d1],axis=1)

In [73]:
data1

        day  temperature  windspeed  event  0  Rain  Snow  Sunny
0  1/1/2017         32.0        6.0   Rain  0     1     0      0
1  1/2/2017         31.4        7.0  Sunny  0     0     0      1
2  1/3/2017         28.0        5.4   Snow  0     0     1      0
3  1/4/2017         31.4        7.0      0  1     0     0      0
4  1/5/2017         32.0        5.4   Rain  0     1     0      0
5  1/6/2017         31.0        2.0  Sunny  0     0     0      1
6  1/6/2017         34.0        5.0      0  1     0     0      0

In [74]:
data1.drop(["day","event"],axis=1,inplace=True)

In [75]:
data1

   temperature  windspeed  0  Rain  Snow  Sunny
0         32.0        6.0  0     1     0      0
1         31.4        7.0  0     0     0      1
2         28.0        5.4  0     0     1      0
3         31.4        7.0  1     0     0      0
4         32.0        5.4  0     1     0      0
5         31.0        2.0  0     0     0      1
6         34.0        5.0  1     0     0      0

In [77]:
x=data1.drop(["temperature"],axis=1)
y=data1["temperature"]

In [78]:
from sklearn.linear_model import LinearRegression

In [79]:
model=LinearRegression()

In [80]:
model.fit(x,y)

LinearRegression()

In [81]:
model.score(x,y)

0.8288743188010895

In [83]:
model.predict([[6.0,1,0,0,0]])

array([32.7])