In [7]:
import sklearn
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
data=pd.read_csv("titanic.csv",usecols=[2,3,4,11])
data

     Pclass     Sex   Age  Survived
0         3    male  22.0         0
1         1  female  38.0         1
2         3  female  26.0         1
3         1  female  35.0         1
4         3    male  35.0         0
..      ...     ...   ...       ...
886       2    male  27.0         0
887       1  female  19.0         1
888       3  female   NaN         0
889       1    male  26.0         1
890       3    male  32.0         0

[891 rows x 4 columns]

In [8]:
data.isnull().any(axis=0)

Pclass      False
Sex         False
Age          True
Survived    False
dtype: bool

In [9]:
data=data.interpolate()

In [10]:
data.isnull().any(axis=0)

Pclass      False
Sex         False
Age         False
Survived    False
dtype: bool

In [15]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
Sex=label.fit_transform(data["Sex"])
data["Sex"]=Sex
data

     Pclass  Sex   Age  Survived
0         3    1  22.0         0
1         1    0  38.0         1
2         3    0  26.0         1
3         1    0  35.0         1
4         3    1  35.0         0
..      ...  ...   ...       ...
886       2    1  27.0         0
887       1    0  19.0         1
888       3    0  22.5         0
889       1    1  26.0         1
890       3    1  32.0         0

[891 rows x 4 columns]

In [16]:
x=data.drop(["Survived"],axis=1)
y=data["Survived"]

In [18]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
fld=KFold(5)

In [20]:
models={'log':LogisticRegression(),'dec':DecisionTreeClassifier(),'ran':RandomForestClassifier()}
for i in models:
    model=models[i]
    scores=cross_val_score(model,x,y,cv=5)
    print(i,scores.mean())

log 0.7744334944447933
dec 0.7890088506685079
ran 0.7901450003138535

In [22]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=.75,random_state=1)
model=RandomForestClassifier()
model.fit(xtrain,ytrain)
model.score(xtest,ytest)

0.7847533632286996